<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />          
			</customHeaders>
        </httpProtocol>
		<rewrite>		  
		  <rules>
			<rule name="JIRA Redirect" stopProcessing="true">
			  <match url="^jira/(.*)$" ignoreCase="false" />
			  <action type="Rewrite" url="http://jira.acresso.com/jira/{R:1}" logRewrittenUrl="false" />                    
			</rule>
		  </rules>
		</rewrite>        
    </system.webServer>
</configuration>
